{% load static %}

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href = "{% static 'css/base.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <a class="navbar-brand" href="/"><p style="color: #fff; font-weight: 700; letter-spacing: 1px; font-size: 1.5rem;">SchedAI</p></a>
    {% if request.user.is_authenticated %}
    <ul class="menu">

    </ul>
  {% endif %}

  </div>

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">
          {{ message|safe }}
            <a href="#" class="close">x</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>